@model IEnumerable<CineWeb.DomainEntities.Movie>
@{
    ViewBag.Title = "Index";
}

<h2>Movie List</h2>

<table id="movies" class="table table-bordered table-hover">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(m => m.MovieId)
            </th>
            <th>
                @Html.DisplayNameFor(m => m.MovieName)
            </th>
            <th>
                @Html.DisplayNameFor(m => m.Genre.GenreName)
            </th>
            <th>
                @Html.DisplayNameFor(m => m.ReleaseDate)
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var movie in Model)
        {
            <tr>
                <td>
                    @movie.MovieId
                </td>
                <td>
                    @movie.MovieName
                </td>
                <td>
                    @movie.Genre.GenreName
                </td>
                <td>
                    @movie.ReleaseDate
                </td>
            </tr>
        }
    </tbody>
</table>

@section scripts
{
    <script>
        $(document).ready(function () {
            $("#movies").DataTable();
        });
    </script>
}

